<%- include('indexheader') %>
<div class="main">
  <div class="container">
    <section class="headline">
      <h1 class="title">Customers of "<%= hairdresser.name %>"</h1>
      <a
        href="/hairdressers/<%= hairdresser._id %>/customers/add"
        class="addbutton"
      >
        <i data-feather="plus-circle"></i>
        <span>Add customer</span>
      </a>
    </section>
    <section><%- include('customersTable') %></section>
    <a href="/hairdressers" class="mainBackBtn">Back</a>
  </div>
</div>
<%- include('footer') %>
