<%- include('formheader') %>
<div class="main">
  <div class="container">
    <h1 class="title">Delete hairdresser</h1>
    <h1>Are you sure you want to delete the following hairdresser?</h1>
    <form action="/hairdressers/delete/<%= hairdresser._id %>" method="POST">
      <div>
        <label>Full name:</label>
        <input
          name="name"
          type="text"
          readonly
          value="<%= hairdresser.name %>"
        />
      </div>
      <div>
        <label>Contact: (Email)</label>
        <input
          name="contact"
          type="email"
          readonly
          value="<%= hairdresser.contact %>"
        />
      </div>
      <div class="formBtn">
        <button class="saveBtn" type="submit">Delete</button>
        <a href="/hairdressers" class="backBtn">Back</a>
      </div>
    </form>
  </div>
</div>
<%- include('footer') %>
